{% extends 'base.html.twig' %} {# héritage de template de base #}


{% block body %}
	<div class="container">
		<div class="row">
			<div class="">
				<div class="text-center">
					<img class="rounded-circle" width="300" height="300" src="https://image.shutterstock.com/image-vector/avatar-business-man-personal-commercial-600w-493718947.jpg">
				</div>
			</div>
		</div>
	</div>
	<div class="container">
		<div class="row">
			<div class="col-lg-12">

				<h3>SAADA Nassim</h3>
				<p>
					Etudiant en Master2 informatique pour les sciences à l’université de Montpellier,
					passionné par les nouvelles technologies et le développement web & logiciels, je suis à
					la recherche d’un stage de fin d’étude.
				</p>
					<h3>FORMATION & DIPLOME</h3>
				<p>
					<Strong>
						2019_2020 : Master 2, Informatique pour les sciences
					</Strong>
					</br>
						Université de Montpellier
					</br>
					<Strong>
						2018 _2019 : Master 1, Informatique pour les sciences
					</Strong>
					</br>
					Université de Montpellier
					</br>
					<Strong>
					2017_2018 : DU, traitement de l’information et intelligence économique
					</Strong>
					</br>
					Université de Montpellier
					</br>
					<Strong>
					2007_2012 : Licence (Bac+4) en science de gestion, spécialité fiance
					</Strong>
					</br>
					Université de Bejaia
					</br>
					<Strong>
					2006_2007 : Baccalauréat gestion et économie
					</Strong>
					</br>
					Université de Bejaia
				</p>
				<h3>Langages</h3>
				<p>
					
					<Strong>
						 Anglais 
					</Strong>
						Bonne connaissance
					</br>
					<Strong>
						 Français 
					</Strong>
						Courant
					</br>
					<Strong>
						 Arabe 
					</Strong>
						Courant
					</br>
					<Strong>
						 Berbère 
					</Strong>
					Langue maternelle
				</p>
				<h3>Hobby</h3>
				<Strong>
					 Lecture
					</br>
					 Jeux d’échec
					</br>
					 voyage
					</br>
					 Mouvement associatif et
					organisationne
					</Strong>
				
			</div>
		</div>
	</div>
{% endblock %}

