{% extends 'base.html.twig' %} {# héritage de template de base #}

{% block title %}Home
{% endblock %}

{% block body %}
	<div class="jumbotron">
		<h1 class="display-4">Hello, my name is</h1>
		<h1 class="display-4"> Nassim SAADA</h1>
		<p class="lead">
		I'm a Student in Computer Science Master2 at the University of Montpellier, passionate about new technologies and web & software development, I am looking for an internship end of study.</p>
		<hr class="my-4">
		<a class="btn btn-primary btn-lg" href="{{ path("projets") }}" role="button">Mes projets</a>
	</div>
{% endblock %}

