{# twig c'est une bibliothéque qui nous permet de faire la possibilité dafficher le contenu d1 variable (linterpulation) #}
<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}Welcome!
			{% endblock %}
		</title>
		{% block stylesheets %}{#  mon style qui va sappliquer sur tous les templates #}
			<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
			<link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
			<style>{# colleur des medias #}
				.social_media_icons a {
					color: #fff;
				}
			</style>
		{% endblock %}
	</head>
	<body>{# ma nav bar qui va s'appliquer sur tous les templates #}
		<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
			<a class="navbar-brand" href="{{ path("homepage") }}">SAADA Nassim</a>
			<div class="social_media_icons">
				<a href="https://www.linkedin.com/in/saada-nassim-836bb675">
					<i class="fa fa-fw fa-2x fa-linkedin-square"></i>
				</a>
				<a href="https://www.facebook.com/nassim.sco">
					<i class="fa fa-fw fa-2x fa-facebook-square"></i>
				</a>
				<a href="#">
					<i class="fa fa-fw fa-2x fa-twitter-square"></i>
				</a>
				<a href="https://gitlab.com">
					<i class="fa fa-fw fa-2x fa-github-square"></i>
				</a>
			</div>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse justify-content-end" id="navbarNav">
				<ul class="navbar-nav">
					<li class="nav-item {% if app.request.attributes.get('_route') == 'homepage' %}active{% endif %}">
						<a class="nav-link" href=" {{ path("homepage") }}">Home
							<span class="sr-only">(current)</span>
						</a>
					</li>
					<li class="nav-item {% if app.request.attributes.get('_route') == 'about' %}active{% endif %}">
						<a class="nav-link" href="{{ path("about") }}">A propos de moi!</a>
					</li>
					<li class="nav-item {% if app.request.attributes.get('_route') == 'projets' %}active{% endif %}">
						<a class="nav-link" href="{{ path("projets") }}">Mes projets</a>
					</li>
				</ul>
			</div>
		</nav>

		{% block body %}{% endblock %}

		
	</body>
</html>

