{% extends 'base.html.twig' %} {# héritage de template de base #}

{% block title %}Liste des projets
{% endblock %}

{% block stylesheets %}
	{{ parent() }}
	<style>
		.card {
			margin-bottom: 2rem !important;
		}
		.card-img-top {      
			width: 100%;
			height: 10vw;
			object-fit: cover;
		}{# dimension des images #}
	</style>
{% endblock %}

{% block body %}
	<div class="container">
		<h1>Liste des projets</h1>
		<div class="row">
			{% for projet in projets %} {# cette boucle va parcourir tous le tableau de projets et l'aide de l'interpolation ci-dessous elle va afficher leurs champs #} 
				<div class="col-md-6 col-lg-3">
					<div class="card">
						<img src="{{ projet.image }}" class="card-img-top" alt="...">{#  appel de get.image #}
						<div class="card-body">
							<h5 class="card-title">{{ projet.titre }}</h5>
							<p class="card-text">{{  projet.description|length > 120 ? projet.description|slice(0, 120) ~ '...' : projet.description }}
							</p>
							<a href="{{ path( "projets_show", {id: projet.id} ) }}" class="btn btn-primary">Details du projet</a>
						</p>			{# cette path cest le lien qui va nous prendre vers la page de contenu d1 projet #}
					</div>
				</div>
			</div>
		{% endfor %}
	</div>
</div>{% endblock %}

