{% extends 'base.html.twig' %}  {# héritage de template de base #}

{% block title %}Detail du projet
{% endblock %}

{% block stylesheets %}  {# l'affichage du contenu d'un projet avec l'interpolation #}
	{{ parent() }}
	<style>
		.card {
			margin-bottom: 2rem !important;
		}
	</style>
{% endblock %}


{% block body %}
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<img class="img-fluid" src="{{ projet.image }}" alt="">
			</div>
			<div class="col-lg-12">
				<h3>{{ projet.titre }}</h3>
				<p>
					{{ projet.description}}
				</p>
				<a href="{{ projet.url }}" class="btn btn-outline-dark"><i class="fa fa-github-square"></i> Code source du projet</a>
			</div>
		</div>
	</div>
{% endblock %}

